.nav-meanu-item{
    width: 100%;
    display: block;
}
.nav-div{
    background: bisque;
    height: 10000px;
}
.one-scooter{
    border: 1px solid rgba(40, 40, 40, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
}
.scooter-details{
    background: rgba(196, 196, 196, 0.3);
    border: 1px solid rgba(196, 196, 196, 0.7);
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
    
}
.scooter-name { 
    text-align: center;
    margin-top: 10px;

}
.scooter-prices{
    margin: 10px;
    color: #000;
    font-size: x-large;

}
.scooter-photo img{
  width:90%;
}